
@import "reset.css";

#wrap{
	width:960px;
	margin:0 auto;
}
body{
	font-family:arial, sans-serif;
	background-color:#fff;
	color:#555;
	line-height:24px;
	font-size:14px;
	background:url(../images/main-bg.jpg) repeat-x;
}
h1{
	font-size:38px;
	margin:0 0 30px 0;
}
h2{
	font-size:28px;
	margin:40px 0 20px 0;
}
h3{
	font-size:20px;
	margin:30px 0 10px 0;
	font-style:italic;
}
h4{
	font-size:18px;
	margin:30px 0 15px 0;
}
h5{
	font-size:18px;
	margin:30px 0 5px 0;
}
p{
	margin:0 0 10px 0;
}
a{
	text-decoration:none;
	color:#2684cd;
}
a:hover{
	color:#555;
	cursor:pointer;
}
em{
	font-style:italic;
}
.hide{
	display:none;
}
.title{
	margin-top:0;
}
.article-line{
	clear:both;
	border-bottom:1px #ddd dotted;
	margin:40px 0 45px 0;
}
.cache-images{
	display:none
}
.more-details{
	display:block;
	margin:5px 0 0 0;
}

#header{
	padding:30px 0 0 0;
	height:70px;
	border-bottom:1px #ddd dotted;
}
#header h1{
	float:left;
	font-size:35px;
	margin:32px 0 0 0;
	letter-spacing:-2px;
	font-weight:bold;
}
#header h1 a{
	color:#555;
}

#nav{
	float:right;
	margin:25px -22px 0 0;
}
.menu{
	padding:7px 6px 0 0;
}
.menu li{
	margin:0 0;
	padding:0 0 8px;
	float:left;
	position:relative;
}
.menu a{
	display:block;
	padding: 8px 15px;
	margin:0;
	color:#555;
	text-decoration:none;
	font-size:17px;
}
.menu .current a, .menu li:hover > a{
	color:#2684cd;
}
.menu ul li:hover a, .menu li:hover li a{
	color:#555;
}
.menu ul a:hover{
	background:#2684cd !important;
	color:#fff !important;
}
.menu ul{
	background:#eee;
	display:none;
	margin:0;
	padding:0;
	width:250px;
	position:absolute;
	top:35px;
	left:20px;
	border:solid 1px #ddd;
}
.menu li:hover > ul{
	display:block;
}
.menu ul li{
	float:none;
	margin:0;
	padding:0;
}
.menu ul a{
	font-size:16px;
}
.menu ul ul{
	left:250px;
	top:-3px;
}
.menu li.current_page_item a{
	color:#2684cd;
}
.menu .sub-menu li.current_page_item a{
	color:#2684cd;
}

#featured-section{
	float:left;
	margin:0;
	overflow:hidden;
	padding:20px 0 50px 0;
	border-bottom:1px #ddd dotted;
}
#featured-section h2{
	clear:both;
	color:#666;
	letter-spacing:-1px;
	font-size:32px;
    font-family: consolas, serif;
	padding:30px 0 15px 0;
	margin:0;
	text-align:center;
}
#featured-section h2 span{
	color:#555;
}
#circles{
	margin:30px 0 0 0;
}
#circles div a {
    color: #555;
}
#circles div a:hover {
    color: #fff;
}
#circles .circle{
	float:left;
	margin:0 0 0 36px;
	width:183px;
	height:205px;
	text-align:center;
	color:#fff;
	padding:0 15px;
}
.circle h3{
	margin-top:45px;
}
#featured-section .red-circle{
	background:url(../images/circle-red.png) no-repeat;
}
#featured-section .pink-circle{
	background:url(../images/circle-pink.png) no-repeat;
}
#featured-section .orange-circle{
	background:url(../images/circle-orange.png) no-repeat;
}
#featured-section .yellow-circle{
	background:url(../images/circle-yellow.png) no-repeat;
}
#featured-section .first{
	margin-left:0;
}

#frontpage-main{
	float:left;
	margin:50px 0 30px 0;
	background-color:#fff;
	width:100%;
}
#frontpage-main h3{
	margin-top:0;
	font-size:18px;
	font-style:italic;
}
#frontpage-main #overview{
	float:left;
	border-right:1px #ddd dotted;
	width:400px;
	padding-right:80px;
}
#frontpage-main #latest-article{
	float:right;
	width:380px;
}
#latest-article .meta, #frontpage-section .meta a{
	color:#aaa;
	font-size:18px;
}
#latest-article .article-title{
	font-size:18px;
}
#latest-article .read-more{
	display:block;
	background:url(../images/blue-button-bg.png) no-repeat;
	width:141px;
	height:34px;
	color:#fff;
	text-align:center;
	padding:5px 0;
	margin:12px 0 0 -2px;
}
#latest-article .read-more:hover{
	background:url(../images/red-button-bg.png) no-repeat;
}
.blue-bullets{
	float:left;
	margin:10px 0 0 0;
}
.blue-bullets li{
	background:url(../images/blue-bullet.png) no-repeat;
	height:21px;
	position:relative;
	padding:0 0 18px 35px;
    font-size: 20px;
}

#main{
	float:left;
	margin:40px 0 50px 0;
	width:100%;
}
#green_back {
    width: 240px;
    height: 50px;
    background-color: #70d831;
}
#content{
	float:left;
	width:480px;
	padding:0 165px 0 0;
}
#content h2 {
    font-size: 24px;
    padding-top: 12px;
    padding-left: 16px;
    font-family: consolas, sans-serif;
}
#content h3 {
    color: #2684cd;
}
#content p, #content h3 {
    margin: 0 0 0 16px;
    padding: 3px 0;
}
#content h4 {
    margin-left: 16px;
    color: #6e54ef;
}

#portfolio{
	margin:80px 0 50px 0;
}
#portfolio div {
    position: relative;
}
#portfolio div a h2{
    position: absolute;
    left: 140px;
    top: 100px;
    padding: 0;
    margin-left: -60px;
    margin-top: -10px;
    font-size: 48px;
    color: #fff;
}

#first-item {
    background-color: #ef54d5;
}
#second-item {
    background-color: #ef6e54;
}
#third-item {
    background-color: #ffd11a;
}
#fourth-item {
    background-color: #54ef6e;
}
#fifth-item {
    background-color: #54d5ef;
}
#sixth-item {
    background-color: #6e54ef;
}
#portfolio h2{
	letter-spacing:-1px;
	margin:0 0 40px 0;
	font-size:20px;
	font-style:italic;
	color:#888;
}
.portfolio-item{
	float:left;
	width:280px;
	height:200px;
	margin:0 0 60px 40px;
}
.portfolio-item:hover{
	opacity:0.8;
}
.first{
	margin-left:0;
}
.portfolio-item img{
	border:1px #ddd solid;
}

#project-content{
	float:left;
	width:480px;
}
#project-header{
	margin:0 0 25px 0;
}
#project-content h3{
	margin:0 0 10px 0;
}
#project-content h3 span{
	color:#888;
}
#project-image-large img{
	float:right;
	border:1px #ddd solid;
}
#project-content .read-more{
	display:block;
	background:url(../images/blue-button-bg.png) no-repeat;
	width:141px;
	height:34px;
	color:#fff;
	text-align:center;
	padding:5px 0;
	margin:25px 0 0 0;
}
#project-content .read-more:hover{
	background:url(../images/red-button-bg.png) no-repeat;
}
#project-header h3{
	margin-bottom:2px;
}

.article-title{
	margin:0 0 -4px 0;
}
.article-title a{
	font-size:24px;
	color:#2684cd;
	font-style:normal;
}
.article-title a:hover{
	font-size:24px;
	color:#555;
}
.article-meta, .article-meta a{
	margin:5px 0 20px 0;
	font-size:18px;
	color:#888;
	font-style:normal;
}
.more-link{
	display:block;
	background:url(../images/blue-button-bg.png) no-repeat;
	width:141px;
	height:34px;
	color:#fff;
	text-align:center;
	padding:5px 0;
	margin:25px 0 0 0;
}
.more-link:hover{
	background:url(../images/red-button-bg.png) no-repeat;
	color:#fff;
}

#sidebar{
	float:left;
	width:315px;
	margin:0;
    margin-top: 40px;
}
#sidebar h3{
	font-size:16px;
    font-weight: bold;
}
#sidebar p {
    font-size: 16px;
}
#sidebar .sidebar-title{
	margin-top:0;
}
#sidebar .sidebar-button{
	clear:both;
	display:block;
	background:url(../images/blue-button-bg.png) no-repeat;
	width:141px;
	height:34px;
	color:#fff;
	text-align:center;
	padding:5px 0;
	margin:15px 0 0 -2px;
}
#sidebar .sidebar-button:hover{
	background:url(../images/orange-button-bg.png) no-repeat;
}
#sidebar .portfolio-item{
	clear:both;
	margin:10px 0 10px 0;
	width:100px;
}
#sidebar .portfolio-item img{
	width:250px;
}
#sidebar .portfolio-item img:hover{
	opacity:0.9;
}

#contact-details{
	float:left;
	width:300px;
	padding:0 120px 0 0;
}
#contact-details .title{
	margin-top:0;
}
#contact-details h4{
	margin:0 0 5px 0;
}
#contact-details span{
	color:#888;
}
#contact-form-container{
	float:left;
	width:450px;
}
#contact-form input{
	background:url(../images/textinput-bg.png) repeat-x;
	border:1px #ddd solid;
	padding:15px;
	width:250px;
	margin:0 0 15px 0;
	font-size:12px;
	color:#555;
	font-family:arial, sans-serif;
}
#contact-form textarea{
	background:url(../images/textarea-bg.png) repeat-x;
	border:1px #ddd solid;
	padding:15px;
	width:350px;
	margin:0 0 15px 0;
	font-size:12px;
	color:#555;
	line-height:18px;
	height:150px;
	font-family:arial, sans-serif;
}
#contact-form .submit{
	display:block;
	background:url(../images/blue-button-bg.png) no-repeat;
	width:141px;
	height:34px;
	color:#fff;
	text-align:center;
	padding:5px 0;
	margin:25px 0 0 0;
	border:none;
	cursor:pointer;
	font-size:14px;
}
#contact-form .submit:hover{
	background:url(../images/red-button-bg.png) no-repeat;
	color:#fff;
}
#response{
	background-color:#eee;
	border:1px #ddd solid;
	padding:10px;
	color:#cc0000;
	margin-bottom:17px;
}

#footer{
	float:left;
	border-top:1px #ddd dotted;
	margin:20px 0 0 0;
	padding:15px 0 20px 0;
	width:100%;
}
.copyright{
	float:left;
}
.github{
	float:right;
}
#biography {
    margin-bottom: 20px;
    margin-left: 80px;
    position: relative;
}
#biography .bgimage {
    background-image: url("../images/gl.jpg");
    background-repeat: no-repeat;
    width:600px;
    height: 600px;
    margin-left: 40px;
    margin-top: 60px;
    position: relative;
}

#orange_back {
    position: absolute;
    left: -40px;
    width: 160px;
    height:50px;
    background-color: #ef6e54;
}
#orange_back h2 {
    position: absolute;
    top:-30px;
    left: 10px;
    font-size: 24px;
    font-family: consolas, serif;
}
#signname {
    position: absolute;
    left: 480px;
    top: 100px;
    width: 340px;
    height: 120px;
    background-color: #2684cd;
}
#signname h2, #signname h4 {
    color: #fff;
    font-family: "lucida console", sans-serif;
}
#signname h2 {
    font-size: 48px;
    margin: 20px 0 0 40px;
}
#signname h4 {
    margin: 20px 0 0 40px;
}

#resume {
    position: absolute;
    left: 360px;
    top: 240px;
    width: 460px;
    height: 330px;
    background-color: #2684cd;
}
#resume p {
    color: #fff;
    margin:0;
    font-family: "Courier New", sans-serif;
}
#first_para {
    margin: 30px 0 20px 40px;
}
#second_para {
    margin: 0 0 0 40px;
}

/*css for article content*/
.article_content {
    margin-top: 80px;
}
.article_content ul {
    list-style: circle;
}

/*css for project poster*/
#project-header-b {
    clear: both;
}
#project-header-b h3{
    float: left;
    padding: 10px 10px;

}
.pic-type {
    clear:both;
}
.pic-type li {
    padding: 0 10px;
}
.pic-type ul li{
    float: left;
}

/*css for article characterist*/
#summary {
    width: 500px;
}
#summary + img {
    float: right;
}